#custom-active-page {
    font-weight: 700;
    color: red;
}

#restaurant_name:hover {
    cursor: pointer;
    color: #ea2251;
}

#complete_button {
    background: green;
    color: white;
    cursor: pointer;
}
#complete_button:hover {
    border: 1px solid green;
    color: green;
    background: white;
}

#completed_button {
    background: green;
    color: white;
}

#admin-title {
    height: 40px;
    width: 250px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    flex: 1 1 auto;
    font-weight: 900;
    color: #ea2251;
    cursor: pointer;
}

@media (max-width: 972px) {
    .filter-bar {
        display: none
    }
}

.special-menu-item {
    text-align: center;
    background-color: #ea2251;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}